html,
body {
    min-height: 100vh;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background-image: url("kelly-sikkema-4JxV3Gs42Ks-unsplash.jpg");
    width: auto;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    padding: 100px;
}


body {
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}

h1 {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
    font-size: 4em;
}

.resultcolor {
    white-space: nowrap;
    font-size: 200%;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    display: flex;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}


.resultcolor2 {
    white-space: nowrap;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-left: 15%;
    display: flex;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
    margin: left 50%;
}

#submit {
    font-size: xx-large;
}

input {
    font-size: x-large;
}

form {
    text-align: center;
}

input[type='radio'] {
    height: 30px;
    width: 30px;
    vertical-align: middle;
  }